{
  "printWidth": 120,
  "trailingComma": "es5",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@features/(.*)$",
    "^@components/(.*)$",
    "^@hooks/(.*)$",
    "^@utils/(.*)$",
    "^@styles/(.*)$",
    "^@svgs/(.*)$",
    "^[./]"
  ],
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "jsx"]
}
